<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endpoint Reference</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <h4 class="text-center my-3">Endpoint Reference</h4>
    <table class="table table-striped endpoint-table mx-auto border">
        <thead>
            <tr>
                <th>Method</th>
                <th>Sport</th>
                <th>Endpoint</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="badge badge-primary">GET</span>
                </td>
                <td class="text-dark font-weight-bold">MLB</td>
                <td><a class="text-dark" href=".{{ WEB_ROOT }}mlb"><u>{{ WEB_ROOT }}mlb</u></a></td>
                <td class="text-muted"></td>
            </tr>
            <tr>
                <td>
                    <span class="badge badge-primary">GET</span>
                </td>
                <td class="text-dark font-weight-bold">NFL</td>
                <td><a class="text-dark" href=".{{ WEB_ROOT }}nfl"><u>{{ WEB_ROOT }}nfl</u></a></td>
                <td class="text-muted"></td>
            </tr>
            <tr>
                <td>
                    <span class="badge badge-primary">GET</span>
                </td>
                <td class="text-dark font-weight-bold">NBA</td>
                <td><a class="text-dark" href=".{{ WEB_ROOT }}nba"><u>{{ WEB_ROOT }}nba</u></a></td>
                <td class="text-muted"></td>
            </tr>
            <tr>
                <td>
                    <span class="badge badge-primary">GET</span>
                </td>
                <td class="text-dark font-weight-bold">NCAAM</td>
                <td><a class="text-dark" href=".{{ WEB_ROOT }}ncaam"><u>{{ WEB_ROOT }}ncaam</u></a>
                </td>
                <td class="text-muted">Men's college basketball, top 25 teams only.</td>
            </tr>
            <tr>
                <td>
                    <span class="badge badge-primary">GET</span>
                </td>
                <td class="text-dark font-weight-bold">NCAAF</td>
                <td><a class="text-dark" href=".{{ WEB_ROOT }}ncaaf"><u>{{ WEB_ROOT }}ncaaf</u></a>
                </td>
                <td class="text-muted">Men's college football, top 25 teams only.</td>
            </tr>
        </tbody>
    </table>
    <ul>
    </ul>
    <style>
        .endpoint-table {
            max-width: 900px;
        }

        .badge {
            font-size: 14px;
        }
    </style>
</body>

</html>